<h2> About Us </h2> 
<br/> <br/>

<table width="100%" cellpadding="2" cellspacing="10">
<tr>
	<td> We're SpareRoom, the UK's busiest flatshare site. Every three minutes, someone finds a flatmate with us. That's a lot of people, meaning more choice for you - and more chance of finding flatmates you really click with. </td>
	<td align="left">    <%= logo("sharing1.jpg", 300, 200) %> </td>
</tr>

<tr>
	<td align="left">  <%= logo("sharing2.jpeg", 400, 200) %> </td>
	<td> Life's better when you share it

Living with the right people beats living on your own any day. When you live with the right people, you don't just share your space - you share your life.

They become more than your flatmates, more than the people ahead of you in the queue for the bathroom. They're your friends.

Room finder is all about helping you find those people. The people who make sharing amazing. </td>

</tr>
</table>