<h2>List Your Space</h2>
<p >

We encourage you to share all kinds of spaces on Room-Finder! Whether you’re offering a single or multiple rooms, it’s free to list your space. When you’re ready to start welcoming mates, you can publish your listing for the people to see.

</p>
<h2>Reservation</h2>
<p>

Guests who love your space will want to book it! On Room-Finder, you have the option to require mates to send a reservation request.

</p>
<h2>Welcome Your Mate</h2>
<p>

Once you have a confirmed reservation, it’s time to prepare for your mate(s)! From tidying your space and coordinating key exchange to greeting your guests and giving them neighborhood tips.

</p>