@import "lesshat";

.container { 
  width: 1000px;
}



ul#menu li {
    display:inline;
}

body {
    margin: 0;
    padding: 0;
    background: white;
  }


.mySlides {display:none}

#header { 
  padding-top: 5px;
}

#header img { 
  padding: 0.5em; 
  background: white;
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
}

#content {  
  font-size: 120%; 
  padding: 20px; 
  background: white; 
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
}

#content h1, h2, h3{
  color : white;
  align-self: center;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.underline {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.separator{
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

.tab { 
  margin-left: 40px; 
}

.containerDiv div {
  float: left;
  clear: none; 
}

/* Links */
a{
  color: white; 
  text-decoration: none;
}

a:hover {
  color: #069; 
  text-decoration: underline;
}

a:visited { 
  color: #069;
}

.navigation { 
  float: right;
  color: white;
}

.navigation { 
  background-color: grey; 
  padding: 0 0.7em; 
  white-space: nowrap;  
  font-size : 15px;
  color :white;
}

ul.navigation { 
  margin: 0;
}

.navigation li { 
  list-style-type: none; 
  display: inline-block; 
  padding: 0.2em 0;
}

.navigation li a { 
  padding: 0 5px; 
  font-weight: bold;
}

.navigation li a:visited { 
  color: #09c;
}

.navigation li a:hover { 
  text-decoration: underline;
}

.nav {
    padding: 0 0.7em; 
    white-space: nowrap;  
    font-size : 15px
}

.nav ul {
  list-style: none;
  list-style-type: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav li {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 0.5em;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding: 0.2em 0;
  float: left;
}
 
.nav a , .dropbtn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
  text-align: center;
}
 
.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #005f5f;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #005f5f
}

.dropdown:hover .dropdown-content {
    display: block;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}


a.signup_button {
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
  text-align: center; 
  width: 190px;
  color: #fff; 
  background: #006400; 
  font-size: 150%; 
  font-weight: bold; 
  padding: 20px;
}

/* Round corners */
.round {
      -moz-border-radius: -webkit-border-radius: 10px; border-radius: 10px;
}


#footer {
  text-align: center; 
  margin-top: 10px; 
  width: 710px;
  margin-left: auto;
  margin-right: auto; 
}

#footer .navigation { 
  float: none;
}


/* User show page */
table.profile { 
  width: 100%; 
  margin-bottom: 0;
}
td.main { 
  width: 70%; 
  padding: 1em; 
  color: white;
  text-align: left;
  align: left;
}

td {
  border: 1px solid white
}

td.main h1 { 
  color : white; 
}

td.right { 
  color : white; 
}

td.sidebar {
  width: 30%;
  padding: 1em; 
  vertical-align: top; 
  background: #ffc;
}

.profile img.gravatar { 
  border: 1px solid #999; 
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px; 
  
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}


.fieldWithErrors { 
  padding: 2px; 
  background-color: red; 
  display: table;
}

.fieldWithErrors label { 
  color: #fff;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red; 
  padding: 7px; 
  padding-bottom: 12px; 
  margin-bottom: 20px; 
  background-color: #f0f0f0;
}

#errorExplanation h2 { 
  text-align: left; 
  font-weight: bold; 
  padding: 5px 5px 5px 15px; 
  font-size: 12px;
  margin: -7px; 
  background-color: #c00; 
  color: #fff;
}

#errorExplanation p { 
  color: #333; 
  margin-bottom: 0; 
  padding: 5px;
}

#errorExplanation ul li { 
  font-size: 12px; 
  list-style: square;
}

ul.users, ul.albums {
  margin-top: 1em; 
}

.users li, .albums li { 
  list-style: none;
}

table.comments tr { 
  height: 80px;
}

table.comments tr td.comment { 
  border-top: 1px solid #ccc; 
  vertical-align: top; 
  padding-top: 10px;
  color: red;
}

table.comments tr td.comment span.timestamp { 
  display: block;
  font-size: 85%;
  color: #09c;
  text-align: right;
}

div.user_info img { 
  padding-right: 10em;
}

div.user_info a { 
  text-decoration: none;
}

div.user_info span.user_name { 
  position: absolute;
}

#horizontal {
	padding-right : 100px ;
}

#horizontal li {
	display : inline-block;
	padding-right: 100px;
}

.myForm {
  display: inline-flex;
}


.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}


.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 30px 0 0;
  padding: 0 60px;
  border: 1px solid #0f9b0f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 25px/60px "Questrial", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgb(90,190,87) 0, rgb(53,146,56) 100%), rgb(90, 190, 87);
  background: -moz-linear-gradient(180deg, rgb(90,190,87) 0, rgb(53,146,56) 100%), rgb(90, 190, 87);
  background: linear-gradient(180deg, rgb(90,190,87) 0, rgb(53,146,56) 100%), rgb(90, 190, 87);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 0 1px 2px rgb(50,114,40) ;
}

.enjoy-css:hover {
  background: rgb(90, 190, 87);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11) ;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11) ;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:active {
  border: 1px solid rgba(180,180,180,0.2);
  background: rgba(77,168,74,1);
  -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.1) inset;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.1) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}


.rate {
  border: 1px solid #cccccc;
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }



.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}


.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

.rating-43 { background-position: 0 -12px; }
.rating-33 { background-position: 0 -12px; }
.rating-23 { background-position: 0 -12px; }
.rating-13 { background-position: 0 -12px; }


.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}




