<div align="left">
		<%= link_to logo("room-finder-logo.png",200,100) %>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home &nbsp;&nbsp; |</a>
      <a class="navbar-brand" href="/">About &nbsp;&nbsp; |</a>
      <a class="navbar-brand" href="/pages/help">Help &nbsp;&nbsp;</a>
    </div>

    <div align="right" style="float: right">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <a class="navbar-brand" href="/">Host my Room &nbsp;&nbsp;| </a>
      <% else %>
        <a class="navbar-brand" href="/">Sign in <%= link_to logo("fb.png",50,50), "auth/facebook", id: "sign_in" %> &nbsp;&nbsp; </a>
      <% end %>
    </div>
  </div>
</nav>
