<div align="left">
		<%= link_to logo %>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home &nbsp;&nbsp; |</a>
      <a class="navbar-brand" href="/">About &nbsp;&nbsp; |</a>
      <a class="navbar-brand" href="/">Help &nbsp;&nbsp; |</a>
    </div>

    <div align="right" style="float: right">
		<a class="navbar-brand" href="/">Host my Room &nbsp;&nbsp;| </a>
    	<a class="navbar-brand" href="/">Sign in &nbsp;&nbsp;</a>
    </div>

  </div>
</nav>
